/*
Description: Jonéame main CSS file
Version: 69
Last updated: 22:32 19/06/2145
Site URI: http://joneame.net/
Authors: Ricardo Galli and Benjamí Villoslada. CSS by Damián Vila. Bugs by Jon Arano.
License: Affero GPL License (http://joneame.net/COPYING)

¡UTF-8 Y SÓLO UTF-8!
¡¡¡SI VES MAL LA TILDE DEL 'SÓLO', LO HAS HECHO MAL!!!

*/

html * {
margin: 0;
padding: 0;
}

body {
font-family: 'Arial', sans-serif !important;
font-size: 10pt;
text-align: center;
background: white;
}

a {
text-decoration: none;
outline: none;
vertical-align: baseline;
color: #2f6192;
}

a:hover {
text-decoration: underline;
}

#wrap {
min-width: 68em; /* 952px */
max-width: 85.72em; /* 1200px */
margin: 0 auto;
text-align: left;
background: white;
position: relative;
}

.banner-right { 
width: 100%;
height: 252px;
margin: 10px 0 10px 0;
}

#container {
clear: both;
}

#sidebar {
float: right;
width: 300px;
margin: 0 22px 25px;
overflow: hidden;
}

#newswrap {
margin: 0 345px 0 10px;
clear: left;
}

#singlewrap {
margin: 0 10px 0 10px;
}

#map {
overflow: hidden;
}

.mini-icon-text {
vertical-align: middle;
}

.tabmain {
height: 25px;
margin-left: 45px;
list-style: none;
font-size: 0.9em;
position: relative;
top: -30px;
}

.tabmain li {
display: inline;
padding: 0;
}

.tabmain li a {
display: block;
float: left;
color: white;
text-decoration: none;
text-align: center;
padding: 0 7px;
background: #5a8cbe url('../../../img/estructura/tabmain.3.png') repeat left top;
line-height: 24px;
margin-right: 3px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
box-shadow: #ccc 0px 1px 1px;
-moz-box-shadow: #ccc 0px 1px 1px;
-webkit-box-shadow: #ccc 0px 1px 1px;
}

.tabmain li a.separada {
margin-left: 8px;
}

.tabmain li.current a {
color: white;
background: #5a8cbe url('../../../img/estructura/tabmain.3.png') repeat right top;
padding: 0 25px 0 7px;
font-style: italic;
}

.tabmain li a:hover {
color: white;
background: #5a8cbe url('../../../img/estructura/tabmain.3.png') repeat left bottom;
}

.tabmain li.current a:hover {
color: white;
background: #5a8cbe url('../../../img/estructura/tabmain.3.png') repeat right bottom;
cursor: default;
}

.tabmain img {
vertical-align: middle;
}

.tabsub-this {
font-weight: bold;
}

.tabsub-shakeit {
height: 25px !important;
margin-bottom: 15px;
clear: both;
padding-left: 180px;
font-size: 11pt;
background: transparent url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -180px;
}

.tabsub-shakeit li {
float:left;
list-style-type: none;
/* l & r margins */
padding-left: 6px;
padding-right: 4px; /* in padding instead of margin for toggler */
margin-left: 2px;
border-left: 1px solid;
/* t & b margins */
height: 17px;
margin-top: 4px;
border-color: #D4E9F9;
}

.tabsub-shakeit li.tabsub-this {
padding-right: 5px; /* 0 pixels for the toggler */
}

.tabsub-shakeit-icon {
padding-top: 3px;
}

.tabsub-shakeit li:first-child {
padding-left:0;
border-left: 0;
border-left: none;
margin-left: 0;
}

.tabsub-shakeit li a {
text-decoration: none;
color: white;
}

.tabsub-shakeit li a:hover {
text-decoration: underline;
}

.thiscat a {
font-weight: bold;
}

.catsub-block {
border-bottom: 1px dotted;
padding: 3px 25px;
font-size: 8.5pt;
border-color: #4b7db0;
}

.catsub-block li {
display: inline;
list-style-type: none;
}

.catsub-block li a {
text-decoration: none;
color: #4b7db0;
}

.catsub-block li a:hover {
text-decoration: underline;
}

.banner-right  {
margin-bottom: 25px;
}

.sidebox h5 {
margin: 0 5px 10px 52px;
font-size: .85em;
padding: 10px 0 0;
}

.mini-pop {
clear: both;
}

.mnm-pop {
float: left;
width: 40px;
height: 20px;
text-align: center;
font-size: .95em;
font-weight: bold;
overflow: visible;
margin: 10px 5px;
padding-top: 6px;
border: 1px solid;
color: #fff;
background: url('../../img/estructura/general.7.png?1') -63px -305px;
border-color: #4b7db0;
}

.mnm-pop.queued {
color: #4b7db0;
background: url('../../img/estructura/general.7.png?1') -63px -331px;
}

.tags-box {
margin-top: 25px;
margin-bottom: 25px;
text-align: center;
}

.tags-box a {
text-decoration: none;
color: #333;
}

.tags-box a:hover {
text-decoration: underline;
}

.centrado {
text-align: center;
}

.nube {
padding: 1.5em 1em;
line-height: 1.75em;
border: 1px solid #4b7db0;
background: #d4e9f9 url('../../img/estructura/tags.3.png') no-repeat center bottom;
}

#sidebar .topcommentsli li, .storyrsslist li {
list-style-type: none;
padding: .35em 0;
font-size: 95%;
border-color: #4b7db0;
overflow: hidden;
}

#sidebar .storyrsslist li {
padding-left: 23px;
background: transparent url('../../img/iconos/feed.png') no-repeat scroll 2px 3px;
}

#footwrap {
margin: 3em 0 0;
clear: both;
padding: 5px 0 15px 0;
position: relative;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
}

#footcol1, #footcol2, #footcol3, #footcol4, #footcol5 {
float: left;
padding: 0 22px;
font-size: .75em;
margin-bottom: 20px;
border-color: #4b7db0;
text-align: left;
}

#footcol1 ul, #footcol2 ul, #footcol3 ul, #footcol4 ul, #footcol5 ul {
padding-bottom: .5em;
}


#footcol1 li, #footcol2 li, #footcol3 li, #footcol4 li, #footcol5 li {
list-style-type: none;
}

#footcol1 {
width: 20%;
}

#footcol2 {
width: 12%;
}

#footcol3 {
width: 13%;
}

#footcol4 {
width: 13%;
}

#footcol5 {
width: 9%;
}

#footcol1 h5, #footcol2 h5, #footcol3 h5, #footcol4 h5, #footcol5 h5 {
font-size: 1.3em;
font-weight: bold;
color: black;
margin-bottom: 3px;
}

#footcol1 a, #footcol2 a, #footcol3 a, #footcol4 a, #footcol5 a {
color: #333;
}

#footcol1 a:hover, #footcol2 a:hover, #footcol3 a:hover, #footcol4 a:hover, #footcol5 a:hover {
color: #555;
}

.footthingy {
clear: both;
margin: 1em 100px 0;
}

.footlegal {
clear: both;
}

#legalese {
font-weight: bold;
font-size: 7pt;
text-align: center;
list-style-type: none;
color: #333;
}

#legalese li {
/* border-left: 1px solid #555; */
padding: 0 3px 0 3px;
display: inline;
}

#legalese li:first-child {
border-left: none;
padding-left: 0;
}

#stdcompliance {
padding: 2em 0 4em 0;
text-align: center;
}

#stdcompliance li {
margin: 0 5px;
}

/*** LEGACY STYLES ***/
dl.categorylist {
float: left;
width: auto;
min-width: 20%;
margin-right: 5px;
padding-bottom: 5px;
font-size: 85%;
}

dl.categorylist dt {
float: none;
width: auto;
text-align: left;
font-size: 120%;
font-weight: bold;
}

dl.categorylist dd {
margin-left: 15px ;
font-size: 100%;
padding-bottom: 0;
}

.thumbnail {
border: 1px solid;
overflow: hidden;
float: right;
border-color: #adcee9;
}

.news-submitted img {
border: 1px solid;
float: left;
margin-right: 4px;
vertical-align: bottom;
}

abbr {
cursor: help;
}

img {
border: none;
}

hr {
height: 1px;
border: none;
background: #ccc;
}

h2 {
margin-top: 0;
margin-bottom: 8px;
font-size: 160%;
font-weight: bold;
border-bottom-width: 1px;
border-bottom-style: solid;
color: #4b7db0;
border-bottom-color: #4b7db0;
letter-spacing: -1px;
}

h3 {
margin-bottom: 8px;
color: #4b7db0;
}

/* h2 without underline */
.topheading h2 {
padding: 10px 0 20px 0;
margin: 0 0 0 20px;
font-size: 160%;
font-weight: normal;
border: none;
}

h3 {
margin-top: 0;
margin-bottom: 3px;
font-size: 140%;
font-weight: normal;
}

table {
border-collapse: collapse;
width: 100%;
margin-bottom: 16px;
clear: both;
}

th, td {
text-align: left;
font-size: 85%;
padding: 6px;
border-bottom: 1px solid;
border-bottom-color: #ddd;
color: #333;
}

th.short, td.short {
text-align: center;
}

th.short a, td.short a {
text-decoration: none;
display: block;
padding: 3px 0;
border: 1px solid;
border-color: #FFF;







}

th.short a:hover, td.short a:hover {
text-decoration: underline;
border: 1px solid;
background: #FFF;
border-color: #000;
}

th a.info, th a:hover.info {
padding: 0 12px 0 0;
display: inline;
border: none;
}

th img {
border: none;
margin-right: 1px;
vertical-align: middle;
}

tr:hover td {
background: #adcee9;
}

th span.info_s {
padding: 0 12px 0 0;
font-size: 120%;
text-decoration: none;
border: none;
color: #a00;
}

td.count {
font-size: 140%;
text-align: right;
}

.warn {
position: relative;
border: 1px solid;
padding: 4px 10px 3px 25px;
margin: 5px 0 5px 0;
font-size: 85%;
background: #FEFBEA url('../../img/iconos/error.png') 5px 50% no-repeat;
border-color: #4b7db0;
}

.porn {
position: relative;
border: 1px solid;
padding: 4px 10px 3px 30px;
margin: 5px 0 5px 0;
font-size: 85%;
background: #d6e7f4 url('../../img/iconos/mas18.png') 5px 50% no-repeat;
border-color: #bbb;
}

.error {
font-weight: bold;
font-size: 140%;
margin: 5px 0 0 0;
padding: 25px 0 0 0;
color: #4b7db0;
background: url('../../img/iconos/error.png') no-repeat;
}

.error-text {
font-size: 100%;
color: #4b7db0;
}

.form-error, .form-error-submit {
font-size: 120%;
font-weight: bold;
padding: 5px 20px;
color: #4b7db0;
background: url('../../img/iconos/error.png') 0 50% no-repeat;
}

.form-error-submit, .form-error-submit-perfil {
padding: 10px;
margin: 15px 0 0 0;
border: 1px solid;
background: #adcee9;
border-color: #4b7db0;
}

.form-error-submit-perfil {
margin: 10px 50px;
}

.form-full {
width: 100%;
}

.instruction-list {
margin: 0;
padding: 0;
}

.instruction-list li {
list-style: none;
margin: 0;
padding: 5px 0 5px 25px;
}

/* news */

.news-summary {
margin: 0;
padding: 10px 0 5px 0;
position: relative;
}

.news-body {
padding-left: 85px;
padding-right: 5px;
}

.news-details {
display: block;
margin: 4px 0 0 0;
padding: 0;
overflow: hidden;
white-space: nowrap;
color: #4b7db0;
}

.news-details span {
margin: 0;
vertical-align: top;
}

.news-details img {
margin: 0;
vertical-align: text-bottom;
}

.news-details select {
border: none;
font-size: 90%;
letter-spacing: 0px;
max-width: 7.5em;
vertical-align: top;
}

.news-details .tool {
display: inline;
border-left: 1px solid;
padding: 0 4px 0 6px;
border-left-color: #4b7db0;
}

.news-details .comments {
padding: 0 4px 0 16px;
font-weight: bold;
border-left: none;
background: transparent url('../../img/iconos/sprite.png') no-repeat scroll 0 -304px;
}

/* Counter box */
.news-shakeit {
position: absolute;
top: 10px;
left: 12px;
width: 65px;
text-align: center;
font-size: 8.2pt;
margin: 5px 0 0 0;
padding: 0;
overflow: hidden;
-moz-box-shadow: 0 0 5px #AAA;
-webkit-box-shadow: 0 0 5px #AAA;
box-shadow: 0 0 5px #AAA;
}

.news-details a:link, .news-details a:visited {
color: #5a8cbe;
}

.mnm-published a:hover, .mnm-queued a:hover, .mnm-discarded a:hover, .jnm-abuse a:hover {
text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

.mnm-published a, .mnm-queued a, .mnm-discarded a, .jnm-abuse a {
display: block;
font-size: 20pt;
font-weight: bold;
height: 19pt !important;
text-decoration: none;
vertical-align: bottom;
color: white;
letter-spacing: -2px;
margin: -3px 0 2px -3px;
}

.mnm-published span, .mnm-queued span, .mnm-discarded span, .jnm-abuse span {
font-weight: normal;
}

.mnm-published {
display: block;
padding: 4px 0 4px 0;
background: white url('../../img/estructura/general.7.png?1') no-repeat 0 -305px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border: 1px solid #4b7db0;
color: white;
border-bottom: 0 !important;
}

.mnm-queued {
display: block;
border: 1px solid;
border-bottom: 0;
padding: 4px 0 4px 0;
background: white url('../../img/estructura/general.7.png?1') no-repeat 0 -352px;
border-color: #4b7db0;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

.mnm-queued a {
text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

.mnm-discarded, .mnm-discarded a, .mnm-discarded a:visited {
color: #FFF;
}

.mnm-discarded {
display: block;
border: 1px solid #D9AA95 !important;
padding: 4px 0 4px 0;
background: white url('../../img/estructura/general.7.png?1') no-repeat 0 -399px;
border-color: #D9AA95;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.jnm-abuse, .jnm-abuse a, .jnm-abuse a:visited {
color: #FFF;
}

.jnm-abuse {
display: block;
border: 1px solid #D9AA95 !important;
padding: 4px 0 4px 0;
background: white url('../../img/estructura/general.7.png?1') no-repeat 0 -446px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.mnm-queued, .mnm-queued a, .mnm-queued a:visited {
color: #4b7db0;
}

/* vote box */

.menealo {
background-color: #fff;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.menealo a {
color: white;
background: url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -205px;
}

.menealo span {
color: #4b7db0;
background: url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -225px;
}

.menealo a, .menealo span {
display: block;
padding: 3px 0;
border: 1px solid #4b7db0;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.menealo div {
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.news-body h1 {
margin: 0;
padding: 0 5px 0 0;
font-size: 140%;
font-weight: bold;
background: none;
border: none;
text-shadow: 0 0 3px #eee;
}

.news-body p {
margin: 2px 0 1px 0;
padding: 0 5px 0 0;
text-align: justify;
overflow: hidden;
}

.news-submitted {
font-size: 85%;
margin: 0;
white-space: nowrap;
min-height: 25px;
color: #666;
}

.news-submitted a:link, .news-submitted a:visited {
font-weight: bold;
color: #666;
}

.news-submitted img {
border-color: #adcee9;
}

.news-tags {
font-size: 90%;
margin: 0;
color: #666;
}

/* trackback */

.tab-trackback-url {
font-weight: bold;
font-size: 100%;
color: #4b7db0;
}

.tab-trackback {
margin: 0 0;
padding: 0 0 0 5px;
font-size: 90%;
font-weight: normal;
}

.tab-trackback li {
list-style: none;
text-align: left;
padding: 0 0 5px 5px;
margin: 2px;
overflow: hidden;
}

.tab-trackback-entry a {
padding: 2px 0 0 20px;
}

.tab-trackback-technorati a, .tab-trackback-google a, .tab-trackback-askcom a {
padding: 5px 0 2px 20px;
}

.tab-trackback-entry {
color: #666;
}

.tab-trackback-entry a {
background: url('../../img/iconos/sprite.png') 0 -559px no-repeat;
}

.tab-trackback-technorati a {
background: url('../../img/iconos/sprite.png') 0 -571px no-repeat;
}

.tab-trackback-google a {
background: url('../../img/iconos/sprite.png') 0 -587px no-repeat;
}

.tab-trackback-askcom a {
background: url('../../img/iconos/sprite.png') 0 -603px no-repeat;
}

.column-list {
padding: 11px 0 6px 0; /* list top & bottom */
margin-bottom: 20px;
border: 1px solid #4b7db0;
}

.column-list a, .sidebox a {
color: #333 !important;
}

.column-select-us {
border: 1px solid #adcee9;
background-image: url('../../img/es/mnu-us.png');
background-repeat: no-repeat;
background-position: right bottom;
padding: 10px 0 40px 0; /* list top & bottom */
}

.column-list ul, .column-one-list ul, .column-select-us ul {
list-style: none;
padding: 0 0 0 5px; /* from box border */
}

.column-one-list ul { /* benjami: differences with column-list */
	padding-left: 0px; /* from box border */
	padding-right: 35px;
}

.column-select-us ul { /* benjami: differences with column-list */
	padding-left: 15px; /* from box border */
}

.column-list li {
	float: left;
	width: 50%;
	margin: 0;
	padding-bottom: 5px;
	font-size: 75%;
	border: none;
	background: none;
}

.column-one-list li, .column-select-us li {
	font-size: 90%;
	/*border: 1px solid #000; test*/
	border: none;
	padding: 5px 0 5px 25px;
	margin: 0 0 0 0;
}

.column-list li a, .column-list li span, .column-one-list li a, .column-one-list li span, .column-select-us li a, .column-select-us li span {
	border: none;
	background: none;
	display: inline;
}

.column-list li a, .column-one-list li a {
	background: url('../../img/iconos/sprite.png') no-repeat 3px -320px;
	padding: 2px 0 0 21px;
	color: #333;
}

.column-list-busqueda li a, .column-one-list-busqueda li a {
background: url('../../img/iconos/sprite.png') 0 -975px no-repeat;
padding: 2px 0 0 21px;
color: #333;
}

.column-one-busqueda ul { 
padding-left: 0px;
padding-right: 35px;
}

.column-list-busqueda {
padding: 11px 0; /* list top & bottom */
margin-bottom: 20px;
border: 1px solid #4b7db0;
}

.column-list-busqueda a, .sidebox a {
color: #333 !important;
}



.column-list-busqueda ul, .column-one-list-busqueda ul, .column-select-us-busqueda ul {
list-style: none;
padding: 0 0 0 5px; /* from box border */
}

.column-list-busqueda li {
float: left;
width: 50%;
margin: 0;
border: 0;
background: none;
font-size: 90%;
padding: 5px 0 5px 10px;
}



.column-list-busqueda li a, .column-list-busqueda li span, .column-one-list li a, .column-one-list li span, .column-select-us li a, .column-select-us li span {
	border: none;
	background: none;
	display: inline;
}

.column-list-busqueda li a, .column-one-list li a {
	background: url('../../img/iconos/sprite.png') no-repeat 3px -975px;
	padding: 2px 0 0 21px;
	color: #333;
}

.column-select-us li a {
	padding: 0 0 0 0;
}


/* submit form */

#thisform .column-list {
	margin: -15px 0 20px 0;
	min-height: 185px;
}

#thisform .column-list li {
	font-size: 100%;
	font-weight: normal;
}

#thisform .column-list ul {
	padding-left: 15px;
	margin: 0px;
}

.column-one-list li.thiscat {
	font-weight: bold;
	background: #adcee9;
	background-image: url(../../img/common/arrow-l.png);
	background-repeat: no-repeat;
	background-position: center left;
}

.column-select-us li.thiscat {
	font-weight: bold;
	font-size: 115%;
	background: #adcee9;
	background-image: url(../../img/common/arrow-l.png);
	background-repeat: no-repeat;
	background-position: center left;
}

.column-one-list li.thiscat a:hover {
	color: #FFF;
}

.column-list li.thiscat {
	font-weight: bold;
}

/*
.column-list li a:hover {
	background-position: 4px -100px;
}
*/

.column-list li {
	clear: none;
}

.categorylist li {
	float: left;
	width: 25%;
	margin: 0;
	padding-bottom: 5px;
	font-size: 75%;
	border: none;
	background: none;
}

/* submit form */

#thisform .column-list {
margin: -15px 0 20px 0;
min-height: 185px;
}

#thisform .column-list li {
font-size: 100%;
font-weight: normal;
}

#thisform .column-list ul {
padding-left: 15px;
margin: 0px;
}

/* comments [& incipient notes] */

.comments {
margin: 15px 5px 0 10px;
}

.notes {
margin: 15px 5px 0 15px;
}

.comments h3 {
margin: 0;
}


.commentform a:link, .commentform a:visited {
border-bottom-width: 1px;
border-bottom-style: dotted;
color: #FFF;
}

.commentform .submit {
font-weight: bold;
border: 1px dotted;
background: #4b7db0;
color: #FFF;
border-color: #FFF;
}

.commentform a:hover {
text-decoration: none;
}

.commentform textarea {
display: block;
width: 98%;
margin: 0 0 10px 0;
padding: 4px;
font-size: 9pt;
}

.commentform label {
font-weight: bold;
font-size: 100%;
}

.commentform.warn {
border: 0;
padding: 5px 0;
font-weight: bold;
text-align: center;
background: #4b7db0;
color: #FFF;
}

.commentform.warn p, .commentform.warn ul {
text-align: left;
font-weight: normal;
padding-left: 30px;
}

.commentform.warn li {
line-height: 0px;
margin-left: 25px;
}

.commentform.warn p {
margin-top: 20px;
}

.commentform.warn em {
font-weight: bold;
}

.comments-warning {
color: #9B0000;
}

.comments-list {
list-style: none;
margin: 0;
padding: 0;
}

.comments-list li {
margin-bottom: 10px;
}

.comment-body {
position: relative;
}

.comment-body.admin strong, .comment-body.high strong,
.notita-body.admin strong, .notita-body.high strong {
color: white;
}

.comment-body.admin a, .comment-body.admin a:visited,
.comment-body.high a, .comment-body.high a:visited,
.notita-body.admin .notita-text a, .notita-body.admin .notita-text a:visited,
.notita-body.high .notita-text a, .notita-body.high .notita-text a:visited {
font-weight: bold;
color: #eee;
}

.comment-body-hidden, .comment-meta-hidden, .notita-body.blanqueado, .barra.blanqueado { /*comentario oculto*/
opacity: 0.6;
}

.comment-body.admin, .notita-body.admin .notita-text,
.comment-body.high, .notita-body.high .notita-text {
color: white;
}

.comment-body, .comment-body-hidden { /* ||| */
line-height: 130%;
overflow: hidden;
border-left: 1px solid;
border-top: 1px solid;
border-right: 1px solid;
min-height: 25px;
border-color: #4b7db0;
color: #333333;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.comment-meta, .comment-meta-hidden {
font-size: 85%;
line-height: 160%;
padding: 0 0 5px 0;
color: #4b7db0; /* votos, karma, por... hace... */
}

.comment-body strong {
font-weight: bold;
}

.comment-meta a, .comment-meta-hidden a {
font-weight: bold;
color: white !important;
}

.comment-body span strong {
color: black;
}

.tmezuak {
font-size: 90%;
margin-top: 10px;
width: 720px;
height: auto;
}

.mezuko_normala {
opacity: 0.7;
padding: 0 0 7px;
}

.mezuko_aldatuta {
font-weight: bold;
padding: 0 0 7px;
cursor: pointer;
}

.mezuko_normala img, .mezuko_aldatuta img {
margin-bottom: -3px;
}

.mezuko_titulua {
vertical-align: middle;
text-align: center;
}

.mezuko_behe_ezkerra {
text-align: right;
margin-bottom:0.1px;
bottom:0px;
right:0px;
}

.mezuko_normala2 {
margin-top: 2px;
text-indent: 2px;
border: 1px solid;
border-color: #4b7db0;
min-height: 50px;
padding: 5px 15px 5px 60px;
position: relative;
margin-bottom: 7px;
}

.mezuko_normala2 .avatar {
position: absolute;
margin: 2px 10px 2px 0;
left: 10px;
top: 10px;
}

.mezuko_normala2 ul {
margin: 0 -7px;
font-size: 10px;
width: 100%;
text-align: right;
}

.mezuko_normala2 ul a {
padding-left: 5px;
}

.mezuko_zein {
font-size: 80%;
width: 100%;
text-align: right;
}

.comment-meta a {
font-weight: bold;
}

.comment-info {
text-align: left;
}

.comment-votes-info {
float: right;
display: inline;
}

.comment-votes-info img {
border: none;
vertical-align: middle;
}

.comment-info img {
border: none;
margin: 1px 0 0 4px;
vertical-align: middle;
}

.comments-list ul li {
list-style: none;
margin: 0 0 16px 0;
}

.comments-list ul {
margin: 0;
padding: 16px 0 0 48px;
background: #FFF;
}

.comments .comment-info select {
font-size: 85%;
}

#tolerance, #tolerance select {
font-size: 85%;
}

/*videos google dailymotion ... desarrolado por kaydarks*/


.embeddedVideo {
  border: 3px solid;
  width: 205px;
height:178px;

border-color: #4b7db0;
}

/* fieldsets */

fieldset {
border: 1px solid;
padding: 10px 10px;
border-color: #4b7db0; /* raya de caja de comentarios */
color: #333;
}

/* pagination */

.pages, .pages-margin {
padding: 10px 0 0 0;
margin: 20px 0 50px 0;
clear: left;
font-size: 9pt;
border-top-color: #4b7db0;
}

.pages-margin {
margin-left: 90px;
}

.pages-mini {
float: left;
margin: 0 0 0 15px;
}

.pages a, .pages span,
.pages-margin a, .pages-margin span,
.pages-mini a, .pages-mini span {
display: block;
float: left;
padding: 3px 7px 5px 7px;
margin-right: 3px;
clear: none; /* <--- sobrepasa el "clear: left" de .barra --Neiko */
}

.pages span.current a, .pages-margin span.current a,
.pages-mini span.current a {
padding: 0;
}

.pages a.nextprev, .pages-margin a.nextprev, .pages-mini a.nextprev,
.pages span.nextprev, .pages-margin span.nextprev, .pages-mini span.nextprev,
.pages span.current, .pages-margin span.current, .pages-mini span.current {
opacity: 0.5; /* <--- cualquiera que lea esto, se va a coger una depresión --Neiko */
}

.pages a:hover, .pages-margin a:hover {
background: #cedde9 url('../../../img/estructura/general.7.png?1') repeat-x 0 -225px;
color: #4b7db0;
text-decoration: none;
}

/* faq page */

.faq-title {
margin: 0 30px 0 150px;
}

.faq {
margin: 0;
}

.faq ol {
font-weight: bold;
}

.faq ul {
font-weight: normal;
}

.faq h3,
.faq h4 {
font-weight: bold;
font-size: 125%;
color: #4b7db0;
}

.faq p {
font-weight: normal;
color: #303030;
margin-bottom: 10px;
}

.faq ul,
.faq ol {
color: #4b7db0;
}

.genericform h2 {
margin: 10px 0 10px 0;
}

.genericform fieldset, .genericform-contents fieldset {
border: 1px solid;
}

.genericform fieldset {
background: transparent;
border-color: #4b7db0;
}

.genericform {
border: 0;
margin: 0 60px 10px 60px;
padding: 0 0 20px 0;
}

.genericform .sign legend {
color: #4b7db0;
}

.genericform .sign, .genericform-contents legend {
font-weight: bold;
font-size: 110%;
}

.genericform .genericformtxt {
font-size: 100%;
font-weight: normal;
color: #303030;
}

.genericform textarea {
width: 100%;
height: 128px;
}

.genericform, .geoform {
background: transparent;
color: #4b7db0;
}

.geoform {
margin: 5px 0 5px 0;
font-size: 8.5pt;
}

/* generic form: login page specials */

.genericform .formnotice {
font-weight: normal;
color: #303030;
}

.genericform .genericsubmit:hover {
background: #adcee9;
color: #FFF;
}

/* image forms */

.tc {
margin: 5px 0 5px 0;
}

.sneaker {
margin: 0;
}

.mini-sneaker-title strong, .sneaker-title strong {
font-size: 95%;
}

.sneaker-legend {
font-size: 9pt;
text-align: center;
padding: 10px 0 5px;
margin: 0px;
border: 1px solid #7DAFE1;
position: relative;
}

.sneaker-legend img {
margin: 0 20px 0 3px;
vertical-align: baseline;
}

.sneaker-control {
margin: 0;
}

.sneaker-item {
width: 100%;
clear: both;
border-bottom: 1px solid;
padding: 7px 0 3px;
text-align: center;
overflow: hidden;
}

.sneaker-ts, .sneaker-type, .sneaker-votes, .sneaker-story, .sneaker-chat, .sneaker-who, .sneaker-status, .sneaker-chat-friends,.sneaker-chat-devel, .sneaker-chat-admin {
float: left;
display: block;
}

.sneaker-ts {
width: 7%;
text-align: left;
}

.sneaker-type {
width: 7%;
}

.sneaker-type img, .sneaker-who img {
border: none;
margin: 0;
vertical-align: middle;
position: relative;
top: -2px;
}

.sneaker-votes {
width: 8%;
}

.sneaker-story {
width: 53%;
text-align: left;
overflow: hidden;
}

.sneaker-chat, .sneaker-chat-friends, .sneaker-chat-admin, .sneaker-chat-devel {
width: 53%;
text-align: left;
overflow: hidden;
}

.sneaker-who {
width: 16%;
text-align: left;
}

.sneaker-who img {
border: 0 solid;
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.sneaker-status {
width: 8%;
text-align: right;
}

.voters, .mini-sneaker {
margin: 25px 5px 0 10px;
}

.voters h2 {
margin: 0 0 10px 0;
}

.voters-list {
position: relative;
padding: 2px 2px 2px 2px;
float: left;
width: 99%;
overflow: hidden;
height: 170px;
border: 1px solid;
margin: 0 0 5px 0;
color: #4b7db0;
background: #FFF;
border-color: #adcee9;
}

.voters-list .item {
float: left;
overflow: hidden;
display: block;
width: 24%;
height: 20%;
font-size: 85%;
white-space: nowrap;
}

.friends-item {
float: left;
display: block;
overflow: hidden;
height: 20px;
width: 48%;
height: 30px;
font-size: 85%;
padding: 0 3px 0 3px;
}

.friends-item  img,
.voters-list img {
border: 0px;
margin-right: 5px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-pages {
padding: 0;
margin: 10px 0 10px 0;
font-size: 80%;
clear: left;
}

.mini-pages a, .mini-pages span {
display: block;
float: left;
padding: 3px 5px 3px 5px;
margin-right: 3px;
border: 1px solid;
color: #4b7db0;
border-color: #FFF;
}

.mini-pages span.current {
border: 1px solid;
font-weight: bold;
border-color: #4b7db0;
background: #4b7db0; /*fondo paginacion amigos votos*/
}

.mini-pages span.current a {
padding: 0;
border: 0;
margin: 0;
color: white; /*pagina actual seleccionada, votos amigos (numero)*/
}

.mini-pages a {
border: 1px solid;
text-decoration: none;
border-color: #4b7db0;
}

.mini-pages a:hover {
border-color: #4b7db0 !important; /*borde seleccionado amigos votos*/
background: #4b7db0 !important; /*fondo seleccionado amigos votos*/
color: #FFF !important;
}

#tooltip-shadow {
position:absolute;
visibility:hidden;
z-index:9999;
margin: 0;
padding: 0;
background: url('../../img/estructura/sombra-tooltip.png') no-repeat bottom right !important;
background: url('../../img/estructura/sombra-tooltip-ie6.gif') no-repeat bottom right; 
}

#tooltip-text {
text-align: left;
position: absolute;
visibility: hidden;
margin: 0;
z-index: 10000;
border: 1px solid;
padding: 10px;
font-size: 90%;
overflow: hidden;
width: 44em;
max-height: 45ex;
background: #e4edf5 url('../../../img/estructura/fondo-caja.2.png') repeat-x scroll left bottom;
border-color: #4b7db0;
color: #333;
}

.news-websnapr {
border: 1px solid;
float: right;
margin: 0 0 5px 5px;
vertical-align: bottom;
border-color: #adcee9;
}

.mini-sneaker-item {
margin: 0 5px 0 5px;
width: 99%;
clear: both;
border-bottom: 1px solid;
padding: 2px 0 2px 0;
text-align: center;
overflow: hidden;
border-bottom-color: #adcee9;
}

.mini-sneaker-ts, .mini-sneaker-type, .mini-sneaker-votes, .mini-sneaker-who, .mini-sneaker-status {
float: left;
display: block;
}

.mini-sneaker-ts {
width: 18%;
text-align: left;
}

.mini-sneaker-type {
width: 18%;
}

.mini-sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.mini-sneaker-votes {
width: 18%;
}

.mini-sneaker-who {
width: 24%;
text-align: left;
}

.mini-sneaker-who img {
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-sneaker-status {
width: 18%;
text-align: right;
}

.mini-sneaker-title strong {
color: #4b7db0; /* micra fisgona titulos votos etc */
}

.rich-edit-key {
margin-left: 3px;
margin-bottom: 3px;
float: right;
cursor: pointer;
}

#addpost {
margin-bottom: -20px;
margin-top: 10px;
float: left;
width: 100%;
}

.media-icon {
margin-bottom: -2px;
}

/* Form defaults */

input, textarea {
margin: 0 0 10px 0;
border: 1px solid #7dafe1;
color: #303030; /* color del texto, donde escribes chat */
background: white url('../../../img/estructura/fondo-texto.gif') repeat-x top;
padding: 2px;
margin: 2px 6px 4px 0;
margin-top: 2px;
font-size: 9pt;
}

input:hover, textarea:hover,
input:active, textarea:active,
input:focus, textarea:focus,
.borde {
border: 1px solid #4b7db0;
}

textarea:disabled {
cursor: auto;
opacity: 0.5;
}

textarea:disabled:hover,
textarea:disabled:active,
textarea:disabled:focus,
textarea:disabled {
border: 1px solid #255B85;
}

input[type=submit], .button, button {
font-weight: bold;
font-size: 9pt;
padding: 2px 8px 1px;
background: #4678aa url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -205px;
border: 1px solid #255B85;
color: white;
cursor: pointer;
font-family: 'Arial',sans-serif; /* This is a workaround. Firefox tries to imitate (poorly)
				    the GUI style of the system it is running into. So if you've
				    enabled "Tahoma" as global default font in your SO, buttons
				    will use Tahoma. --Neiko */
}

input[type=submit]:hover, button:hover, .button:hover {
border: 1px solid #255B85; /* overriding input:hover --Neiko */
}

input[type=submit]:active, button:active, .button:active {
background: #4678aa url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -613px;
}

/*
input[type=checkbox] {
background: inherit;
}
*/

input.rojo {
background: red;
color: white;
}

input.amarillo {
background: yellow;
color: black;
}

input.verde {
background: green;
color: white;
}

input[type=image] {
background: none;
border: 0;
padding: 0;
margin: 0;
}

legend {
font-weight: bold;
padding: 0 5px;
}

legend, legend a {
color: #4b7db0; /*  raya de caja de comentarios */
}

fieldset dl {
margin: 0;
padding: 0;
}

fieldset dt {
clear: left;
float: left;
width: 12em; /* increase for wider dt text */
text-align: right;
padding: 0 10px 4px 5px;
font-weight: bold !important;
}

fieldset dd {
padding: 0 0 4px 177px;
font-weight: normal;
}

fieldset dd.categorias {
padding: 0 5px 4px;
}

label {
font-weight: bold;
color: #333;
}

.note {
font-size: 85%;
font-weight: normal;
color: #444; /* comentarios xenófobos, racistas o difamatorios causarán la anulación de la cuenta */
}

.toggler img {
border: none;
margin: 0 0 2px 6px;
vertical-align: middle;
}

.button:disabled, button:disabled {
cursor: auto;
opacity: 0.5;
}

#amigos-perfil {
background: #ecf0f3;
}

div.header {
height: 35px;
overflow: hidden;
position: relative;
font-size: 10.5pt;
border-bottom: 1px solid #4f7ba7;
background: #689ACC;
}

div.header ul.sections {
list-style: none;
width: 450px;
float: left;
}

div.header ul.sections li {
display: inline-block;
}

div.header ul.sections li a {
line-height: 35px;
padding: 10px 7px;
font-weight: bold;
color: white;
text-shadow: 0 1px 1px #135;
}

div.header ul.sections li a:hover {
background: #5a8cbe;
text-decoration: none;
}

div.header ul.user {
list-style: none;
float: right;
font-size: 10pt;
margin: 0 15px 0 0;
}

div.header ul.user li {
display: inline-block;
margin: 0 0 0 10px;
}

div.header ul.user li a {
line-height: 35px;
text-shadow: 0 1px 1px #369;
opacity: 0.9;
color: white;
}

div.header ul.user li a:hover {
text-decoration: none;
opacity: 1;
}

div.header ul.user li.login a {
font-weight: bold;
}

div.header ul.user li a img {
vertical-align: middle;
margin: 0 3px 0 0;
}

div.header ul.user li.login a img {
width: 18px;
height: 18px;
margin: -3px 5px 0 0;
border: 1px #7ac solid;
}

div.subheader {
height: 30px;
line-height: 30px;
overflow: hidden;
background: #5a8cbe;
border-top: 1px solid #639ad1;
-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
box-shadow: #ccc 0px 1px 1px;
-moz-box-shadow: #ccc 0px 1px 1px;
-webkit-box-shadow: #ccc 0px 1px 1px;
margin: 0 0 30px 0;
}

div.subheader form.top_search {
float: right;
}

/*
div.subheader form.top_search input {
opacity: 0.7;
}

div.subheader form.top_search input:hover,
div.subheader form.top_search input:focus {
opacity: 1;
}
*/

div.subheader form.top_search input[type=text] {
padding: 1px 3px;
margin: 4px;
width: 150px;
border: 1px solid #255B85;
color: #777;
}

div.subheader form.top_search input[type=text]:focus,
div.subheader form.top_search input[type=text]:hover {
color: #333;
}

div.subheader form.top_search input[type=submit] {
padding: 2px 5px 0px;
margin: 4px 10px 0 0;
}

div.subheader div.corto {
text-shadow: #369 0px 1px 1px;
color: white;
margin: 0 0 0 15px;
float: left;
font-size: 9pt;
}

div.subheader div.corto span {
font-style: italic;
}

div.subheader div.corto span.buttons {
margin-left: 5px;
display: inline-block;
}

div.subheader div.corto span.buttons img {
margin-right: 2px;
}

div.subheader div.corto a.info {
margin: 0 5px;
}

div.subheader div.corto a {
font-weight: bold;
color: white;
}

div.subheader div.corto a.moar,
div.subheader div.corto span {
font-size: 8pt;
font-style: italic;
}

.logo {
text-indent: -9999px;
float: left;
background: url('../../../img/estructura/general.7.png?1') 0 -120px;
width: 102px;
height: 35px;
margin: 0 2px 0 10px;
}

.barra,
h4,
.boton,
.busqueda,
#modalContainer .header {
padding: 5px 13px 7px;
color: #eee;
height: 12px;
overflow: hidden;
position: relative;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
text-align: left;
font-weight: bold;
font-size: 9pt;
clear: left;
background: #5385b7 url('../../../img/estructura/general.7.png?1') repeat-x 0 -180px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.barra a, h4 a, .boton a, .barra a:visited, h4 a:visited, .boton a:visited {
color: white !important; 		/* overrides .fondo-caja style, since some .barra h4 are into
					   a .fondo-caja div or fieldset --Neiko */
}

.barra a:hover, h4 a:hover, .boton a:hover {
color: white !important; 		/* overrides .fondo-caja style, since some .barra h4 are into
					   a .fondo-caja div or fieldset --Neiko */
}

#sidebar h4 {
text-align: center;
font-weight: bold;
font-size: 115%;
padding: 3px 0 10px;
border-color: #ffcbaa;
}

#sidebar h4 a {
color: #eee !important;
text-decoration: none;
}

#sidebar h4 a:hover {
color: white;
text-decoration: none;
}

.notitas-info {
float: left;
font-size: 9pt;
font-weight: normal;
}

.notitas-votes-info {
position: absolute;
right: 10px;
font-size: 9pt;
}

.notitas-votes-info span, .uname, .uname a:visited {
font-weight: bold;
color: white !important;
}

.img-flotante { /* !!HACK */
vertical-align: middle;
}

.notitas-info a .img-flotante {
position: relative;
top: -1px;
}

.user-avatar {
float: left;
margin: 8px 0 8px 8px;
}

.user-avatar:hover {
text-decoration: none !important;
}

.notita-text {
margin: 4px 0 10px 58px;
padding: 2px 7px 0 0;
color: #333;
}

.notitas-list {
list-style: none;
padding: 0;
}

.notitas-list li {
margin-bottom: 18px;
}

.notita-body {
overflow: hidden;
border: 1px solid #4b7db0;
position: relative;
}

.notita-body.high {
border: none;
}

.fondo-caja, #footwrap, .comment-body, .comment-body-hidden, .form-error-submit,
.form-error-submit-perfil, #modalContainer, .encuesta, .ayuda-contenido {
background: #e4ecf5 url('../../../img/estructura/fondo-caja.2.png') repeat-x scroll left bottom !important;
color: #333;
}

.fondo-caja-high, .comment-body.high, .notita-body.high {
background: #6c92b7 url('../../../img/estructura/fondo-caja-high.3.gif') repeat-x scroll left bottom !important;
}

.fondo-caja-admin, .comment-body.admin, .notita-body.admin {
background: #3c6ea0 url('../../../img/estructura/fondo-caja-admin.3.gif') repeat-x scroll left bottom !important;
}

.recoverpass h4 a:link {
color: #eee
}

h3 a {
color: #eee;
}

h3 a:hover {
color: white;
}

.boton {
margin: 20px 0 0;
text-align: center;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.izquierda {
text-align: left;
}

.redondo, .porn, .warn, .form-error-submit, .form-error-submit-perfil,
.busqueda, .fondo-caja .form-error, .mezuko_aldatuta, .help-topic,
.mnm-pop, .estado, .tabsub-shakeit, .news-shakeit, #tooltip-text,
.ayuda-contenido, .thumbnail, .header.uno ul.secciones li,
.usuario li a /*, .userlist */ {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.semi-redondo, img,
input, textarea, button, .button,
.mini-pages span, .mini-pages a,
.buttonlink, .userlist li,
.barra-carisma-outer, .barra-encuesta-outer,
.mejor-comentario, .c-edit, .header-avatar,
.n-edit, .geo-edit {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.simpleformat {
padding: 5px 12px 8px 8px;
margin-bottom: 5px;
float: right;
}

.tooltip {
color: white !important;
background: black !important;
}

.atencion, .fondo-caja .form-error {
background: transparent url('../../../img/iconos/atencion.png') no-repeat scroll 4px 5px;
padding: 5px 5px 5px 23px;
border: 1px solid #4b7db0;
}

ul.herramientas {
padding: 5px 14px 7px 0;
//float: left;
}

.herramientas li {
display: inline;
margin-left: 10px;
}

.herramientas li a {
padding: 1px 0 1px 20px;
text-decoration: none !important;
}

.aviso-navegador {
text-align: center;
font-size: 10pt;
background: url('../../../img/estructura/general.7.png?1') 0 -1006px;
color: #333;
line-height: 20px;
}

.aviso-navegador a, .aviso-navegador a:active {
color: #333;
font-weight: bold;
}

.aviso-navegador a:hover {
color: black;
}

.fondo-caja a, .fondo-caja a:active {
color: #2f6192;
}

.tabsub {
height: 25px;
margin-left: 5px;
list-style: none;
list-style: none;
font-size: 0.9em;
width: 850px;
position: relative;
}

.tabsub li {
display: inline;
padding: 0;
}

.tabsub li a {
display: block;
float: left;
color: #eee;
text-decoration: none;
font-weight: bold;
text-align: center;
padding: 0 7px;
background: #5a8cbe url('../../../img/estructura/tabsub.3.png') repeat left top;
line-height: 24px;
margin-right: 3px;
margin-top: 1px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.tabsub li.current a {
color: white;
background: #5a8cbe url('../../../img/estructura/tabsub.3.png') repeat right top;
padding: 0 23px 0 7px;
font-style: italic;
}

.tabsub li a:hover {
color: white;
background: #5a8cbe url('../../../img/estructura/tabsub.3.png') repeat left bottom;
}

.tabsub li.current a:hover {
color: white;
background: #5a8cbe url('../../../img/estructura/tabsub.3.png') repeat right bottom;
cursor: default;
}

.tabsub img {
vertical-align: middle;
}

.icono-amigo {
float: right;
}

.avatar-amigo {
float: left;
}

.espaciador, .help-topic, .encuesta {
padding: 10px;
margin-bottom: 20px;
}

.error-outer {
margin: 40px auto 0;
width: 700px;
}

.error-inner {
padding: 22px 22px 22px 425px;
height: 308px;
background: url('../../../img/estructura/404.png') left top no-repeat;
text-align: right;
position: relative;
}

.error-inner h1 {
font-size: 25px;
}

.error-inner h2 {
font-size: 15px;
font-style: italic;
color: #555;
border: none;
}

.cotillona-caja-admin {
margin: 0 auto;
padding: 5px 30px;
}

legend.mini {
padding: 2px 10px 5px;
position: static; /* evita que el legend se meta dentro del fieldset en opera */
text-align: left;
}

.inverso {
background-position: left top !important;
}

.barra-carisma-outer, .barra-encuesta-outer {
background: #4b7db0;
width: 150px;
overflow: hidden;
height: 16px;
position: relative;
background: url('../../../img/estructura/general.7.png?1') repeat-x 0 -225px;
border: 1px solid #4b7db0;
float: left;
margin-right: 10px;
}

.barra-carisma-inner {
background: green;
float: left;
height: 16px;
background: url('../../../img/estructura/general.7.png?1') repeat-x 0 -180px;
}

.barra-carisma-numero {
position: absolute;
top: 1px;
color: #eee;
font-weight: bold;
font-size: 9pt;
}

.tt {
text-decoration: underline !important;
}

.mejor-comentario {
font-size: 90%;
border: 1px solid;
border-color: #dadada;
background: white;
margin: 7px 50px 7px 25px;
padding: 4px;
overflow: hidden;
}

.busqueda {
margin: 0 0 5px 86px;
text-align: right;
padding: 5px 10px 8px 10px;
font-size: 100%;
font-weight: normal;
}

.busqueda img {
margin-top: -1px;
}

.fondo-caja .form-error {
font-size: 105%;
margin-bottom: 10px;
}

a.fancybox {
color: #000;
}

.storyrsslist, .topcommentsli {
border: 1px solid #4b7db0;
}

.edicion-perfil {
list-style-type: none;
font-size: 90%;
}

.edicion-perfil dt {
width: 155px;
font-weight: bold !important;
padding: 3px 0 0;
}

.edicion-perfil .note {
margin: 0 0 0 15px;
font-weight: bold;
display: block;
}

fieldset select {
margin: -3px 0 3px;
}

.edicion-perfil input[type=text] {
width: 350px;
}

.edicion-perfil input[type=checkbox] {
margin: 0 0 3px 171px;
vertical-align: middle;
}

.edicion-perfil input[type=submit] {
margin: 7px 0 3px 171px;
}

.form-busqueda {
border: 1px solid #255B85;
background: white url('../../../img/estructura/fondo-texto.gif') repeat-x top;
margin: 4px;
height: 17px;
padding: 1px;
}

.form-busqueda input {
margin: -1px 0 0;
border: 0;
background: transparent;
width: 150px;
}

.form-busqueda img {
margin-top: 1px;
padding-right: 2px;
}

.form-busqueda a,
.form-busqueda a:hover {
padding: 0 !important;
display: inline !important;
float: none !important;
background: transparent !important;
}

.help-topic {
width: 120px;
float: right;
font-size: 8pt;
background: #fcfcfc;
border: 1px solid white;
clear: both;
}

acronym {
cursor: help;
}

.cuadrado, .shakebox-central {
-moz-border-radius: 0 !important;
-webkit-border-radius: 0 !important;
border-radius: 0 !important;
}

.shakebox-central {
border-bottom: 0 none !important
}

.profile-sidebar {
width: 80px;
float: right;
}

.estado {
border: 1px solid #4b7db0;
margin: 5px 30px 15px;
background: #FEFBEA;
padding: 5px;
display: inline-block;
}

input[type=file] {
background: none;
color: #333;
}

.barra-encuesta-outer {
width: 400px;
}

h5 {
font-size: 100%;
}

.encuesta {
overflow: hidden;
border: 1px solid #4b7db0;
}

.mnm-pop-container {
padding: 5px;
}

#gatete {
position: absolute;
text-indent: -99999px;
width: 132px;
height: 147px;
background: url('../../../img/estructura/gatete.png') no-repeat bottom right;
right: 0;
bottom: 0;
}

blockquote {
margin: 10px;
}

#mnm_banner_ifr {
padding: 1px 0 0 2px;
}

.sombra,
.mnm-published a, .mnm-queued a, .mnm-discarded a, .jnm-abuse a,
.mnm-published, .menealo a, .header.dos, .tabsub,
.barra-carisma-numero, input[type=button], .button, button,
input[type=submit], .corto-meta, .tabhoriz {
text-shadow: 0 1px 1px #113355;
}

.sombra-fuerte, .header.uno,
.barra, h4, .boton, .busqueda, #modalContainer .header, .comment-meta {
text-shadow: 0 1px 1px black;
}

.sombra-suave, .texto, .c-edit, .tabmain  {
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.sombra-muy-suave, .visor-cortos .nick-usuario, .aviso-navegador {
text-shadow: 0 1px 1px rgba(128, 128, 128, 0.1);
}

.usneaker {
margin: 0;
}

.mini-usneaker-title strong, .usneaker-title strong {
font-size: 95%;
}

.usneaker-legend {
font-size: 9pt;
text-align: center;
padding: 10px 0 5px;
margin: 0px;
}

.usneaker-legend img {
margin: 0 20px 0 3px;
vertical-align: baseline;
}

.usneaker-item {
width: 100%;
clear: both;
padding: 7px 0 3px;
text-align: center;
overflow: hidden;
border-bottom: 1px solid #ddd !important;
}

.usneaker-ts, .usneaker-chat, .usneaker-who, .usneaker-chat-friends, .usneaker-chat-devel, .usneaker-chat-admin {
float: left;
display: block;
}

.usneaker-ts {
width: 50px;
text-align: left;
font-weight: bold;
}

.usneaker-chat, .usneaker-chat-friends, .usneaker-chat-admin, .usneaker-chat-devel {
width: 80%;
text-align: left;
overflow: hidden;
margin-left: 5px;
}

.usneaker-who {
width: 100px;
text-align: left;
overflow: hidden;
}

.usneaker-story {
width: 80%;
text-align: left;
}

#donde {
margin-right: 6px;
}

.usneaker-chat-friends, .usneaker-chat-friends a {
color: #059C05; /*color de amigos PARA LA µcoti*/
}
.usneaker-chat-devel, .usneaker-chat-devel a {
color: #B0B  ; /*color de devel PARA LA µcoti*/
}
.usneaker-chat-admin, .usneaker-chat-admin a {
color: #F00; /*color de admins PARA LA µcoti*/
}

.visor-cortos {
width: 700px;
margin: 20px auto 0;
position: relative;
}

.visor-cortos .texto-corto {
background: white;
font-size: 30pt;
padding: 15px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
overflow: hidden;
text-shadow: 0 1px 2px rgba(255, 255, 255, 1);
}

.visor-cortos .corner {
width: 25px;
height: 25px;
margin-left: 50px;
background: url('../../../img/estructura/corto-corner.png') no-repeat;
text-indent: -9999px;
}

.visor-cortos .avatar-usuario {
margin: 10px 10px 0;
float: left;
}

.visor-cortos .nick-usuario {
font-size: 25pt;
margin-top: 42px;
font-weight: bold;
}

.visor-cortos .nick-usuario .meta {
font-size: 10pt;
font-weight: normal;
color: #2f6192;
}

.visor-cortos .herramientas {
position: absolute;
right: 0px
}

.barra.redondo {
text-align: center;
}

.info-cortos,
.encuesta dd label span,
.smaller {
font-size: 80%;
font-style: italic;
}

.buttonlink {
float: right;
height: 15px;
margin: -2px;
background: #72b055 url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -533px;
padding: 2px 10px 0;
font-weight: bold;
font-size: 9pt;
border: 1px solid #255B85;
cursor: pointer;
color: white !important;
}

.buttonlink:hover,
.buttonlink:active {
color: white !important;
text-decoration: none;
}

.buttonlink:active {
background: #72b055 url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -553px;
}

.topcommentsli img {
float: left;
margin: 8px 8px 3px 0;
clear: both;
}

.topcommentsli p {
margin: 6px 0 0 28px;
}

#spinner.blank, .spinner.blank, #spinner_h.blank, .spinner_h.blank {
background: url('../../../img/iconos/spinner.gif') 0 -48px no-repeat;
}

#spinner.loading, .spinner.loading, #spinner_h.loading, .spinner_h.loading {
background: url('../../../img/iconos/spinner.gif') 0 0 no-repeat;
}

#spinner.ok, .spinner.ok {
background: url('../../../img/iconos/spinner.gif') 0 -16px no-repeat;
}

#spinner.ko, .spinner.ko {
background: url('../../../img/iconos/spinner.gif') 0 -32px no-repeat;
}

#ajaxcontainer {
overflow: hidden;
}

.joneame-info a {
font-weight: bold;
}

.tabhoriz {
list-style: none;
font-size: 0.9em;
width: 215px;
margin-bottom: 50px;
float: left;
}

.tabhoriz li {
padding: 0;
margin: 0 0 1px 0;
}

.tabhoriz li a {
display: block;
color: #eee;
text-decoration: none;
font-weight: bold;
text-align: center;
padding: 0 7px;
background: #5a8cbe url('../../../img/estructura/tabhoriz.png') repeat right top;
line-height: 24px;
margin-right: 3px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-topleft: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
-moz-box-shadow: 0 2px 2px #CCC;
-webkit-box-shadow: 0 2px 2px #CCC;
box-shadow: 0 2px 2px #CCC;
width: 150px;
margin-left: 50px;
}

.tabhoriz li.current a {
color: white;
background: #5a8cbe url('../../../img/estructura/tabhoriz.png') repeat right top;
padding: 0 25px 0 7px;
font-style: italic;
}

.tabhoriz li a:hover {
color: white;
background: #5a8cbe url('../../../img/estructura/tabhoriz.png') repeat right bottom;
}

.tabhoriz li.current a:hover {
color: white;
background: #5a8cbe url('../../../img/estructura/tabhoriz.png') repeat right bottom;
cursor: default;
}

.tabhoriz img {
vertical-align: middle;
}

.ayuda-contenido {
margin: 0 50px 0 214px;
border: 1px solid #5a8cbe;
-moz-border-radius-topleft: 0;
-webkit-border-top-left-radius: 0;
border-top-left-radius: 0;
padding: 5px 10px 15px;
}

.ayuda-contenido h2 {
margin-top: 0;
margin-bottom: 8px;
font-size: 160%;
font-weight: bold;
color: #333333;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #5a8cbe;
letter-spacing: -1px;
text-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
}

.ayuda-contenido h3 {
margin-top: 8px;
margin-bottom: 0;
font-size: 120%;
font-weight: bold;
color: #333;
}

.ayuda-contenido li {
margin-left: 15px;
margin-bottom: 3px;
}

.ayuda-contenido ul,
.ayuda-contenido ol {
margin: 5px;
}

.ayuda-contenido p {
text-align: justify;
text-indent: 2em;
}

.ayuda-contenido blockquote {
margin: 10px 0 10px 25px;
}

.comment-meta, .comment-meta-hidden,
.comment-meta.high {
padding: 2px 4px 3px 7px;
overflow: hidden;
position: relative;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
font-size: 8pt;
clear: left;
background: #B7CFE1;
border: 1px solid #4b7db0;
color: white;
background: #5385b7 url('../../../img/estructura/general.7.png?1') repeat-x 0 -180px;
}

.comment-meta.admin,
.comment-meta.high {
background: #2F6092;
color: white;
border-top: 0;
}

.comment-meta.high a,
.comment-meta.admin a,
.comment-meta a {
font-weight: bold;
color: white;
}

.comment-avatar {
float: left;
margin: 8px 0 8px 8px;
}

.comment-text {
margin: 4px 0 7px 36px;
padding: 2px 7px 0 0;
}

.ayuda-contenido table {
clear: none;
}

.ayuda-contenido tr:hover td {
background: none;
}

.ayuda-contenido .vertical {
border-right: 1px dotted #5A8CBE;
}

.ayuda-contenido td,
.ayuda-contenido th {
border-bottom: 1px dotted #5A8CBE;
text-align: center;
}

.ayuda-contenido th {
font-weight: bold;
}

.userlist {
position: absolute;
top: 191px;
right: 5px;
z-index: 1;
width: 160px;
height: 232px;
background: #B7CFE1;
border-bottom: 1px solid #7DAFE1;
border-left: 1px solid #7DAFE1;
border-right: 1px solid #7DAFE1;
-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-left-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
overflow: auto;
display: none;
}

.userlist li {
list-style: none;
border: 1px solid #2f6192;
padding: 2px 4px;
margin: 2px;
text-align: left;
overflow: hidden;
height: 15px;
display: block;
position: relative;
font-size: 9pt;
letter-spacing: -10%;
}

.userlist li.coti-admin {
background: #2f6192;
color: white;
}

.userlist li.coti-admin a {
color: white;
}

.userlist li .ban,
.userlist li .unban {
width: 16px;
height: 16px;
display: block;
position: absolute;
right: 2px;
top: 2px;
background: red;
}

.userlist li .ban {
background: transparent url('../../img/iconos/sprite.png') no-repeat scroll 0 -128px;
}

.userlist li .unban {
background: transparent url('../../img/iconos/sprite.png') no-repeat scroll 0 -368px;
}

.roster-toggler {
position: absolute;
bottom: 10px;
right: 10px;
width: 16px;
height: 16px;
background: transparent url('../../img/iconos/sprite.png') no-repeat scroll 0 -144px;
cursor: pointer;
}

.relativo {
position: relative;
}

.conectado {
position: absolute;
background: transparent url('../../img/iconos/sprite.png') no-repeat scroll -4px -1140px;
}

.comment-body .conectado {
width: 8px;
height: 8px;
top: 4px;
left: 24px;
}

.notita-body .conectado {
width: 8px;
height: 8px;
top: 4px;
left: 43px;
}

.secciones li a.nuevo-corto {
padding: 0;
}

.secciones li a.nuevo-corto span {
position: absolute;
right: 3px;
top: 6px;
width: 14px;
height: 15px;
background: transparent url('../../img/iconos/sprite.png') no-repeat scroll 0 -1152px;
}

.header.uno ul.secciones li a.nuevo-corto:active span {
background: transparent url('../../img/iconos/sprite.png') no-repeat scroll 1px -1151px;
}

.clearleft, #newpost {
clear: left;
}

#newpost {
float: left;
margin-top: 10px;
width: 100%;
}

.reportar {
position: absolute;
right: 0px;
bottom: 4px;
}

.without-votebox {
border-bottom: 1px solid;
-moz-border-radius-bottom: 5px;
-webkit-border-bottom-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.encuesta-opciones dt {
width: auto;
margin-top: 5px;
}

.encuesta-opciones dd {
padding-left: 100px;
}

.encuesta dt {
width: 15px;
}

.encuesta dd {
padding: 0 0 7px 30px;
}

.category-entry,
.encuesta dd label {
font-weight: normal;
}

#play-pause-img {
cursor: pointer;
}

.header-avatar {
position: relative;
vertical-align: middle;
}

.c-edit,
.c-edit.iddqd,
.n-edit,
.n-edit.iddqd,
.geo-edit,
.geo-edit.iddqd {
background: #72b055 url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -493px;
border: 1px solid #255B85;
font-weight: bold;
color: white;
padding: 0 4px 1px 16px;
display: inline-block;
margin-top: 1px;
}

.c-edit:active,
.n-edit:active {
background: #72b055 url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -513px;
}

.c-edit.iddqd,
.n-edit.iddqd {
background: red url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -573px;
}

.c-edit.iddqd:active,
.n-edit.iddqd:active {
background: red url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -593px;
}

.geo-edit {
background: #72b055 url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -633px;
}

.geo-edit:active {
background: #72b055 url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -653px;
}

.geo-edit.iddqd {
background: #72b055 url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -673px;
}

.geo-edit.iddqd:active {
background: #72b055 url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -693px;
}

.smileylist {
position: relative;
top: 0px;
right: 0px;
z-index: 1;
//width: 300px;
//height: 120px;
margin-top: 6px;
margin-bottom: 6px;
border-bottom: 1px;
overflow-x: visible;
display: none;
cursor: pointer;
}

