/*
Licence: Affero GPL License (http://meneame.net/COPYING)
Comments: This file contains only styles without colors or images. A separate file with colors and images is available.
*/

html * {
margin: 0;
padding: 0;
}

body {
font-family: 'Arial', sans-serif !important;
font-size: 10pt;

background: white;
padding-left: 3px;
}

a {
text-decoration: none;
outline: none;
vertical-align: baseline;
color: #2f6192;
}

a:hover {
text-decoration: underline;
}


#header {
min-width: 300px;
height: 25px;
overflow: hidden;
background: #5a8cbe;
}

#logo {
display: block;
float: left;
width: 125px;
height: 24px;
text-indent: -9999px;
background: #5a8cbe url('../../../img/estructura/meneito.png') no-repeat left top;
}

#headtools {
text-align: right;
vertical-align: middle;
white-space: nowrap;
}

#headtools li {
font-size: 0.9em;
display: inline;
float: right;
margin: 2px 5px 0 5px;
border-left: 1px solid;
padding-left: 10px;
white-space: nowrap;
border-color: white;
}

#headtools li.noborder {
border-left: none;
}
	
#headtools a {
text-decoration: none;
color: white;
}


#headtools a:hover {
text-decoration: underline;
}

#headtools img, #headtools a img {
border: none;
vertical-align: top;
}

#container {
margin: 2px;
clear:both;
}

#newswrap, #singlewrap {
font-size: small;
}

.tabmain {
height: 25px;
margin-left: 45px;
list-style: none;
font-size: 0.9em;
position: relative;
top: -3px;
}

.tabmain li {
display: inline;
padding: 0;
}

.tabmain li a {
display: block;
float: left;
color: white;
text-decoration: none;
text-align: center;
padding: 0 7px;
background: #5a8cbe url('../../../img/estructura/tabmain.3.png') repeat left top;
line-height: 24px;
margin-right: 3px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
box-shadow: #ccc 0px 1px 1px;
-moz-box-shadow: #ccc 0px 1px 1px;
-webkit-box-shadow: #ccc 0px 1px 1px;
}

.tabmain li a.separada {
margin-left: 8px;
}

.tabmain li.current a {
color: white;
background: #5a8cbe url('../../../img/estructura/tabmain.3.png') repeat right top;
padding: 0 25px 0 7px;
font-style: italic;
}

.tabmain li a:hover {
color: white;
background: #5a8cbe url('../../../img/estructura/tabmain.3.png') repeat left bottom;
}

.tabmain li.current a:hover {
color: white;
background: #5a8cbe url('../../../img/estructura/tabmain.3.png') repeat right bottom;
cursor: default;
}

.tabmain img {
vertical-align: middle;
}

.tabmain  {
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}


#footthingy {
clear: both;
float: left;
margin: 2em 10px 0 10px;
}

#footthingy li {
display: inline;
list-style-type: none;
font-size: .65em;
color: #999;
}

#footthingy li a {
color: #999;
}

#footthingy div {
text-indent: -9999px;
}


#stdcompliance {
padding: 1em 0 1em 0;
text-align: center;
}

#stdcompliance li {
margin: 0 5px;
}

abbr { cursor: help; }

img {
border: none;
}


.porn, .error, .warn {
position: relative;
border: 1px solid;
padding: 3px 10px 3px 3px;
margin: 1px 0 5px 0;
font-size: 85%;
background: #d6e7f4;
border-color: #bbb;
}


.error-text {
font-size: 100%;
color: #429ee9;
}

.redondo, .porn, .warn, .form-error-submit, .form-error-submit-perfil,
.fondo-caja .form-error, .help-topic,
.mnm-pop, .tabsub-shakeit, .news-shakeit, #tooltip-text,
.ayuda-contenido, .thumbnail,
.usuario li a {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

/* news */

.news-summary {
margin: 0;
padding: 5px 0 5px 0;
position: relative;
}

.news-details {
display: block;
margin: 4px 0 0 54px;
padding: 0;
overflow: hidden;
white-space: nowrap;
color: #4b7db0;
}

.news-details a:link, .news-details a:visited {
color: #4b7db0;
}

.news-details span {
margin: 0;
vertical-align: top;
}

.news-details .tool {
display: inline;
border-left: 1px solid;
padding: 0 4px 0 6px;
border-left-color: #4b7db0;
}

.news-details .comments {
border-left: none;
font-weight: bold;
}

/* Counter box */
.news-shakeit {
/*
position: absolute;
top: 10px;
left: 2px;
*/
float: left;
width: 3.8em;
text-align: center;
font-size: 90%;
margin: 5px 5px 0 0;
padding: 0;
overflow: hidden;
}

.mnm-published a:hover, .mnm-queued a:hover, .mnm-discarded a:hover, .jnm-abuse a:hover {
text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

.mnm-published a, .mnm-queued a, .mnm-discarded a, .jnm-abuse a {
display: block;
font-size: 18pt;
font-weight: bold;
height: 19pt !important;
text-decoration: none;
vertical-align: bottom;
color: white;
letter-spacing: -2px;
margin: -3px 0 2px -3px;
}

.mnm-published span, .mnm-queued span, .mnm-discarded span, .jnm-abuse span {
font-weight: normal;
}

.mnm-published {
display: block;
padding: 4px 0 4px 0;
background: white url('../../img/estructura/general.7.png?1') no-repeat 0 -305px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border: 1px solid #4b7db0;
color: white;
border-bottom: 0 !important;
}

.mnm-queued {
display: block;
border: 1px solid;
border-bottom: 0;
padding: 4px 0 4px 0;
background: white url('../../img/estructura/general.7.png?1') no-repeat 0 -352px;
border-color: #4b7db0;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

.mnm-queued a {
text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

.mnm-discarded, .mnm-discarded a, .mnm-discarded a:visited {
color: #FFF;
}

.mnm-discarded {
display: block;
border: 1px solid #D9AA95 !important;
padding: 4px 0 4px 0;
background: white url('../../img/estructura/general.7.png?1') no-repeat 0 -399px;
border-color: #D9AA95;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.jnm-abuse, .jnm-abuse a, .jnm-abuse a:visited {
color: #FFF;
}

.jnm-abuse {
display: block;
border: 1px solid #D9AA95 !important;
padding: 4px 0 4px 0;
background: white url('../../img/estructura/general.7.png?1') no-repeat 0 -446px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.mnm-queued, .mnm-queued a, .mnm-queued a:visited {
color: #4b7db0;
}

/* vote box */

.menealo {
background-color: #fff;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.menealo a {
color: white;
background: url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -205px;
}

.menealo span {
color: #4b7db0;
background: url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -225px;
}

.menealo a, .menealo span {
display: block;
padding: 0px 0;
border: 1px solid #4b7db0;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.menealo div {
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.news-body h1 {
margin: 0;
padding: 0 5px 0 0;
font-size: 120%;
font-weight: bold;
background: none;
border: none;
}

.news-body  {
margin: 2px 0 1px 0;
padding: 0 5px 0 0;
text-align: left;
overflow: hidden;
}

.news-submitted {
font-size: 85%;
margin: 0;
white-space: nowrap;
color: #666;
display: block;
margin: 0 0 0 54px;
padding: 0;
overflow: hidden;
}

.news-submitted a:link, .news-submitted a:visited {
font-weight: bold;
color: #666;
}

.news-tags {
font-size: 90%;
margin: 0;
color: #666;
}

.comment-meta, .comment-meta-hidden,
.comment-meta.high {
padding: 2px 4px 3px 7px;
overflow: hidden;
position: relative;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
font-size: 8pt;
clear: left;
background: #B7CFE1;
border: 1px solid #4b7db0;
color: white;
background: #5385b7 url('../../../img/estructura/general.7.png?1') repeat-x 0 -180px;
}

.comment-meta.admin,
.comment-meta.high {
background: #2F6092;
color: white;
border-top: 0;
}

.comment-meta.high a,
.comment-meta.admin a,
.comment-meta a {
font-weight: bold;
color: white;
}

.comment-text {
margin: 0px 0 7px 3px;
padding: 0px 7px 0 0;
text-align:left;
}

.comment-text img {
margin-top: 5px;
}

/* comments [& incipient notes] */

.comment-body strong {
font-weight: bold;
}

.comment-meta a, .comment-meta-hidden a {
font-weight: bold;
color: white !important;
}

.comment-meta a {
font-weight: bold;
}

.comments-warning {
color: #9B0000;
}

.comments-list {
list-style: none;
margin: 0;
padding: 0;
}

.comments-list li {
margin-bottom: 10px;
}

.comment-body {
position: relative;
}

.comment-body.admin strong, .comment-body.high strong,
.notita-body.admin strong, .notita-body.high strong {
color: white;
}

.comment-body.admin a, .comment-body.admin a:visited,
.comment-body.high a, .comment-body.high a:visited,
.notita-body.admin .notita-text a, .notita-body.admin .notita-text a:visited,
.notita-body.high .notita-text a, .notita-body.high .notita-text a:visited {
font-weight: bold;
color: #eee;
}

.comment-body-hidden, .comment-meta-hidden, .notita-body.blanqueado, .barra.blanqueado { /*comentario oculto*/
opacity: 0.6;
}

.comment-body.admin, .notita-body.admin .notita-text,
.comment-body.high, .notita-body.high .notita-text {
color: white;
}

.comment-body, .comment-body-hidden { /* ||| */
line-height: 130%;
overflow: hidden;
border-left: 1px solid;
border-top: 1px solid;
border-right: 1px solid;
min-height: 25px;
border-color: #4b7db0;
color: #333333;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.comment-body strong {
font-weight: bold;
}

.comment-meta a, .comment-meta-hidden a {
font-weight: bold;
color: white !important;
}

.comment-body span strong {
color: black;
}

.fondo-caja, #footwrap, .comment-body, .comment-body-hidden, .form-error-submit,
.form-error-submit-perfil, #modalContainer, .encuesta, .ayuda-contenido {
background: #e4ecf5 url('../../../img/estructura/fondo-caja.2.png') repeat-x scroll left bottom !important;
color: #333;
}

.fondo-caja-high, .comment-body.high, .notita-body.high {
background: #6c92b7 url('../../../img/estructura/fondo-caja-high.3.gif') repeat-x scroll left bottom !important;
}

.fondo-caja-admin, .comment-body.admin, .notita-body.admin {
background: #3c6ea0 url('../../../img/estructura/fondo-caja-admin.3.gif') repeat-x scroll left bottom !important;
}

.comment-info {
text-align: left;
}

.comment-info img {
border: none;
margin: 1px 0 0 4px;
vertical-align: middle;
}

.comments .comment-info select {
font-size: 85%;
}


/* fieldsets */

fieldset {
border: 0px solid;
padding: 10px 10px;
margin: 0px 0px;
}

/* pagination */

.pages, .pages-margin {
padding: 10px 0 0 0;
margin: 20px 0 50px 0;
clear: left;
font-size: 9pt;
border-top-color: #4b7db0;
}

.pages-margin {
margin-left: 3px;
}

.pages-mini {
float: left;
margin: 0 0 0 15px;
}

.pages a, .pages span,
.pages-margin a, .pages-margin span,
.pages-mini a, .pages-mini span {
display: block;
float: left;
padding: 3px 7px 5px 7px;
margin-right: 3px;
clear: none; /* <--- sobrepasa el "clear: left" de .barra --Neiko */
}

.pages span.current a, .pages-margin span.current a,
.pages-mini span.current a {
padding: 0;
}

.pages a.nextprev, .pages-margin a.nextprev, .pages-mini a.nextprev,
.pages span.nextprev, .pages-margin span.nextprev, .pages-mini span.nextprev,
.pages span.current, .pages-margin span.current, .pages-mini span.current {
opacity: 0.5; /* <--- cualquiera que lea esto, se va a coger una depresión --Neiko */
}

.pages a:hover, .pages-margin a:hover {
background: #cedde9 url('../../../img/estructura/general.7.png?1') repeat-x 0 -225px;
color: #4b7db0;
text-decoration: none;
}

.semi-redondo, img,
input, textarea, button, .button,
.mini-pages span, .mini-pages a,
.buttonlink, .userlist li,
.barra-carisma-outer, .barra-encuesta-outer,
.mejor-comentario, .c-edit, .header-avatar,
.n-edit, .geo-edit {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.sombra-fuerte, .header.uno,
.barra, h4, .boton, .busqueda, #modalContainer .header, .comment-meta {
text-shadow: 0 1px 1px black;
}

.barra.redondo {
text-align: center;
}

.commentform textarea {
display: block;
width: 48%;
margin: 0 0 10px 0;
padding: 4px;
font-size: 9pt;
}


.barra,
h4,
.boton,
.busqueda,
#modalContainer .header {
padding: 5px 13px 7px;
color: #eee;
height: 12px;
overflow: hidden;
position: relative;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
text-align: left;
font-weight: bold;
font-size: 9pt;
clear: left;
background: #5385b7 url('../../../img/estructura/general.7.png?1') repeat-x 0 -180px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.barra a, h4 a, .boton a, .barra a:visited, h4 a:visited, .boton a:visited {
color: white !important; 		/* overrides .fondo-caja style, since some .barra h4 are into
					   a .fondo-caja div or fieldset --Neiko */
}

.barra a:hover, h4 a:hover, .boton a:hover {
color: white !important; 		/* overrides .fondo-caja style, since some .barra h4 are into
					   a .fondo-caja div or fieldset --Neiko */
}

/* Form defaults */

input, textarea {
margin: 0 0 10px 0;
background: white;
border: 1px solid #255B85;
color: #303030;
}

select {
background: #FFF;
color: #75b5e9;
}

#tooltip-shadow {
position:absolute;
visibility:hidden;
z-index:9999;
margin: 0;
padding: 0;
background: url('../../img/estructura/sombra-tooltip.png') no-repeat bottom right !important;
background: url('../../img/estructura/sombra-tooltip-ie6.gif') no-repeat bottom right; 
}

#tooltip-text {
text-align: left;
position: absolute;
visibility: hidden;
margin: 0;
z-index: 10000;
border: 1px solid;
padding: 10px;
font-size: 90%;
overflow: hidden;
width: 44em;
max-height: 45ex;
background: #e4edf5 url('../../../img/estructura/fondo-caja.2.png') repeat-x scroll left bottom;
border-color: #4b7db0;
color: #333;
}

.tooltip {
color: white !important;
background: black !important;
}


.button, button {
border: 1px solid;
font-weight: bold;
margin: 4px 0 4px 0;
padding: 0 4px 0 4px;
border-color: #255B85;
color: #255B85;
}

.button:hover, button:hover {
background: #fff;
}

legend {
font-weight: bold;
padding: 0 5px;
}

legend, legend a {
color: #255B85;
}

fieldset {
border-color: #255B85;
}

fieldset dl {

margin: 0;
padding: 0;
}

fieldset dt {
clear: left;
float: left;
text-align: right;
padding: 0 10px 4px 5px;
}

fieldset dd {
padding: 0 0 4px 0;
font-weight: bold;
}

label {
font-weight: bold;
color: #255B85;
}

.c-edit,
.c-edit.iddqd,
.n-edit,
.n-edit.iddqd,
.geo-edit,
.geo-edit.iddqd {
background: #72b055 url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -493px;
border: 1px solid #255B85;
font-weight: bold;
color: white;
padding: 0 4px 1px 16px;
display: inline-block;
margin-top: 1px;
}

.c-edit:active,
.n-edit:active {
background: #72b055 url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -513px;
}

.c-edit.iddqd,
.n-edit.iddqd {
background: red url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -573px;
}

.c-edit.iddqd:active,
.n-edit.iddqd:active {
background: red url('../../../img/estructura/general.7.png?1') repeat-x scroll 0 -593px;
}

.usneaker-legend {
font-size: 9pt;
text-align: center;
padding: 10px 0 5px;
margin: 0px;
}

.usneaker-legend img {
margin: 0 20px 0 3px;
vertical-align: baseline;
}

.usneaker-item {
width: 100%;
clear: both;
padding: 0px 0 0px;
text-align: center;
overflow: hidden;
border-bottom: 1px solid #ddd !important;
}

.usneaker-ts, .usneaker-chat, .usneaker-who, .usneaker-chat-friends, .usneaker-chat-devel, .usneaker-chat-admin {
float: left;
display: block;
}

.usneaker-ts {
width: 50px;
text-align: left;
font-weight: bold;
}

.usneaker-chat, .usneaker-chat-friends, .usneaker-chat-admin, .usneaker-chat-devel {
width: 80%;
text-align: left;
overflow: hidden;
margin-left: 5px;
}

.usneaker-who {
width: 100px;
text-align: left;
overflow: hidden;
}

.usneaker-story {
width: 80%;
text-align: left;
}

#donde {
margin-right: 6px;
}

