<h1>

<a href=" {{ self.url|escape }}" onmousedown="return clk(this, {{ self.id }})" {% if self.status != 'published' %} rel="nofollow" {% endif %} target="_blank" class="titular">{{ self.title }}</a>

{% if self.content_type == 'image' %}
	&nbsp;<img src="{% exec get_cover_pixel %}" class="icon image media-icon" alt="{% trans _('imagen') %}" title="{% trans _('imagen') %}" />
{% else %}
	{% if self.content_type == 'video' %}
	&nbsp;<img src="{% exec get_cover_pixel %}" class="icon video media-icon"  alt="{% trans _('vídeo') %}" alt="{% trans _('vídeo') %}" />
	{% endif %}
{% endif %}

{% if current_user.user_id > 0 %}
	<a href="{{ globals.base_url }}broken_link.php?id={{ self.id }}" target="_blank" class="titular">
	<img src="{% exec get_cover_pixel %}" class="icon info" alt="{% trans _('reportar link erróneo') %}" title="{% trans _('reportar link erróneo') %}" /></a>
{% endif %}

</h1> 

{% if not self.is_nsfw AND self.has_thumb AND (current_user.thumb == 1 OR current_user.user_id == 0)  %} 
	 <img src='{{ self.thumb }}' width='{{ self.thumb_x }}' height='{{ self.thumb_y }}' alt='' class='thumbnail'/>
{% endif %}

{% if not globals.bot %}
	<div class="news-submitted">
	{% if type != 'short' %}
		<a href="{% exec get_user_uri self.username %}"><img src="{% exec get_avatar_url self.author, self.avatar, 25  %}" width="25" height="25" alt="" onmouseover="return tooltip.ajax_delayed(event, 'get_user_info.php', {{ self.author }} );" onmouseout="tooltip.clear(event);" /></a>
	{% endif %}

	<strong> {{self.url_str }} </strong><br />

	{% trans  _('por') %} <a href=" {% exec get_user_uri self.username, 'enviadas'  %}"> {{ self.username }} </a>  

	{% if globals.now  - self.date > 604800  %} 
		{% trans _('el') %} {% exec get_date_time self.sent_date %}
		{% if self.status == 'published' %} 
			,  {% trans  _('publicada el') %} {% exec get_date_time self.sent_date %}
		{% endif %}
	{% else %}
		{% trans  _('hace')  %} {% exec txt_time_diff self.sent_date %}
		{% if self.status == 'published' %} 
			, {% trans  _('en portada hace') %} {% exec txt_time_diff self.date  %}
		{% endif %}
	{% endif %}

	</div>
{% endif %}

{% if type == 'full' OR type == 'preview' %}
	<p>
	{{ self.content_str }}
	{% if type != 'preview' %}
				
		{% if self.is_editable %}
			<a href="{{ globals.base_url }}editlink.php?id={{ self.id }}&amp;user={{ current_user.user_id}}" title="{% trans _('editar historia') %} # {{self.id}}"> {% exec self.get_editable_teaser %}</a> 
		{% endif %}

		{% if self.is_map_editable AND globals.joneame AND globals.link_id > 0 %}
			&nbsp;&nbsp;<a href="#" onclick="$('#geoedit').load('{% exec get_url  "geo/get_form.php?id=" self.id  "&amp;type=link&amp;icon=" self.status %}'); return false;">{% exec self.get_map_editable_teaser %}</a><br/> 
		{% endif %}
		{% if self.is_editable AND current_user.user_id == self.author AND not current_user.admin %}
			<div class="news-details"> 
			<strong>{% trans _('Si deseas editar la noticia, tienes') %} {{self.edit_remaining_time}} {% trans _('minutos.') %}<br/>{% trans _('Una vez pasado este tiempo, ponte en contacto con un administrador.') %}</strong> 
			</div> 
		{% else %}
			{% if self.is_editable AND current_user.especial AND current_user.user_id != self.author AND not current_user.admin %}
				<div class="news-details"> 
				<strong>{% trans _('Dispones de privilegios especiales que te permiten la edición de esta noticia.') %}<br/> {% trans _('Úsalos con cuidado ;-)') %} </strong> 
				</div> 
			{% endif %}
		{% endif %}
	{% endif %}
	</p>
{% endif %}

{% if self.best_comment %}
	<div class="mejor-comentario"> 		
	<a onmouseout="tooltip.clear(event);"  onclick="tooltip.clear(this);" onmouseover="return tooltip.ajax_delayed(event, \'get_comment_tooltip.php\', \'{{ self.best_comment.comment_id }}\', 10000);" href="{{ self.permalink }}/000{{ self.best_comment.comment_order }}"><strong>{{ self.best_comment.comment_order }}</strong> 
	:&nbsp;{% exec text_to_summary  self.best_comment.content, 200 %} </a></div> 
{% endif %}

<div class="news-details">

<span class="comments">&nbsp;<a href=" {{ self.permalink }}"> 
<span id="n_comentarios-{{self.id}}"> {{self.comentarios }}</span><span id="t_comentarios-{{self.id}}">{{self.comments_mess }}</span></a></span>

&nbsp;<span class="tool">{% trans _('carisma:') %}<strong><span id="a-karma-{{self.id}}"> {% exec intval self.karma %} </span></strong></span> 
(<b><span id="a-usu-{{self.id}}"><abbr title="votos">{{self.votes}}</abbr></span></b>,<b> 

{% if self.anonymous != 0 %} 
	<span id="a-ano-{{self.id}}"> 
{% else %}
	<span id="a-ano-{{self.id}}" style="color: #aaa;"> 
{% endif %}

<abbr title="{% trans _('votos anónimos') %}"> {{ self.anonymous }}</abbr></span></b>, <b> 

{% if self.aleatorios_positivos != 0 %} 
	<span id="a-ale_pos-{{self.id}}"> 
{% else %}
	<span id="a-ale_pos-{{self.id}}" style="color: #aaa;"> 
{% endif %}

<abbr title="{% trans _('votos aleatorios positivos') %}">{{ self.aleatorios_positivos }}</abbr></span></b>, <b> 

{% if self.aleatorios_negativos != 0 %} 
	<span id="a-ale_neg-{{self.id}}" style="color: red;"> 
{% else %}
	<span id="a-ale_neg-{{self.id}}" style="color: #aaa;"> 
{% endif %}

<abbr title="{% trans _('votos aleatorios negativos') %}">{{ self.aleatorios_negativos }}</abbr></span></b>, <b> 

{% if self.negatives > 0 %} 
	<span id="a-neg-{{self.id}}" style="color: red;"> 
	<abbr title="{% trans _('votos negativos') %}">{{ self.negatives }}</abbr></span></b>) 
{% else %}
	<span id="a-neg-{{self.id}}" style="color: #aaa;"> 
	<abbr title="{% trans _('votos negativos') %}">{{ self.negatives }}</abbr></span></b>) 
{% endif %}

{% exec print_share_icons self.permalink, self.short_permalink, self.title, self.id  %}		

{% if self.voted|null AND self.can_negative_vote AND type != 'preview' AND self.votes_enabled %} 
			
	<form  class="tool" action="" id="problem-{{ self.id }}"> 
	<select name="ratings"  onchange="report_problem(this.form,{{current_user.user_id}},{{self.id}}, '{{self.md5}}')">

	<option value="0" selected="selected"> {% trans _('sensurar') %} </option> 
	{% for pkey, pvalue in globals.negative_votes_values %}
	          <option value="{{pkey}}">{{ pvalue }}</option>
        {% endfor %}
	</select>
	</form>
	
{% endif %}

		
{% if current_user.user_id > 0 %}
	<span class="tool">
	<a id="fav-{{ self.id }}" href="javascript:obtener('joneo_favorito.php','{{ current_user.user_id }}', 'fav-{{ self.id }}',0,'{{self.id }}')">
        {% exec favorite_teaser current_user.user_id, self.id, 'link' %}
	</a>
	</span>
{% endif %}

</div><div class="news-details"><b> {% trans _('categoría') %}:</b>&nbsp; 

{% if self.status == 'published'  %}  
	<a href=" {{ globals.base_url }}?category={{ self.category }}" title="{% trans _('categoría') %}"> {{self.category_name}}</a> 
{% else %}
	<a href="{{ globals.base_url }}jonealas.php?category={{ self.category }}" title="{% trans _('categoría') %}">  {{ self.category_name }} </a> 
{% endif %}

&nbsp;

{% if self.show_tags AND self.tags %}
	{% exec explode "," self.tags as tags_array %}
			
	<span class="tool"><b>{% trans _('etiquetas') %}:</b>
	{% for id, tag in tags_array %}
		{% if id > 0 %},{% endif %}{% if globals.buscador_activado %}<a href="{{ globals.base_url }}search.php?p=tag&amp;q={{ tag|urlencode }}">{{ tag }}</a>{% endif %}
	 {% endfor %}
	</span>
{% endif %}

{% if self.clicks > 0%}
	<span class="tool"> 
	<strong>clics:</strong>  {{ self.clicks }}
	</span> 
{% endif %}
		
{% if self.visits > 0 %}
	<span class="tool">
	<strong>visitas:</strong> {{ self.visits }}
	</span> 
{% endif %}
		
</div> 
</div> 
</div> 
	
{% if self.add_geo  %}
	<div id="geoedit" class="geoform" style="margin-left:20px">
	{% if current_user.user_id == self.author AND self.sent_date > globals.now AND not self.latlng %}
		{% trans _('ubica al origen de la noticia o evento (ciudad, país)') as geotxt %}
		{% exec geo_coder_print_form 'link', self.id, globals.latlng, geotxt as dummy %}
	{% endif %}
	</div>
{% endif %}
	
